# Server Configuration
PORT=8000

# Database Configuration
MONGODB_URI= your mongodb atlas link

# CORS Configuration (Frontend URL)
CORS_ORIGIN=http://localhost:5173

# Python Backend URL (for AI processing)
PYTHON_SERVICE_URL=http://localhost:5000
# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRE=30d
